<h1>Record Trade</h1>
<div class="row">
	<div class="span6 offset3">

		<%= form_for(:trade, url: trades_path) do |f| %>
			
			
			<%= f.label :stock_id %>
			<%= f.collection_select :stock_id, Stock.order(:name),:id,:name %>

			<%= f.label :order_type %>
			<%= f.select :order_type, [:buy, :sell] %>

			<%= f.label :quantity %>
			<%= f.text_field :quantity %>

			<%= f.submit "Trade anlegen", class: "btn btn-large btn-primary" %>
		<% end %>

	</div>
</div>


